<div class="modal fade" id="contatoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
     <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Nos contate por aqui!</h5>
                 <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">×</span>
                 </button>
             </div>
             <div class="modal-body">
                 <a href="#" class="content-ctt"><img src="/img/email.png" alt="whatsapp" class="mini-logo-ctt">carteirinhadopescador@gmail.com</a>
                 <a href="https://wa.me/5587988682234?text=Colonia%20de%20Pescadores%20Z-65,%20em%20que%20posso%20ajudar?" class="content-ctt"><img src="/img/whatsapp.png" alt="whatsapp" class="mini-logo-ctt">(87) 98868-2234</a>
            </div>
         </div>
      </div>
    </div>