<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.php">
    <div class="sidebar-brand-icon">
        <img src="/img/Logo-Colonia (2).png" alt="logo" width="65px" height="65px" >
    </div>
    <div class="sidebar-brand-text mx-3">Colônia Z-65</div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" href="/hub">
    <i class="fas fa-home"></i>
        <span>Inicio</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFluxo"
        aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-piggy-bank"></i>
        <span>Clientes</span>
    </a>
    <div id="collapseFluxo" class="collapse" aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">tipos:</h6>
            <a class='collapse-item' href='/clientes/cadastrar'>Cadastrar</a>
            <a class='collapse-item' href='/clientes'>Histórico</a>
        </div>
    </div>
</li>
<!-- <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsuario"
        aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-male"></i>
        <span>Usuário</span>
    </a>
    <div id="collapseUsuario" class="collapse" aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">tipos:</h6>
            <a class='collapse-item' href='/usuarios/cadastrar'>Cadastrar</a><a class='collapse-item' href='/usuarios'>Listar</a>
        </div>
    </div>
</li> -->

</ul>