<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16"  href="/img/favicon-16x16.png">
    <link rel="stylesheet" href="/css/index.css">

        <!-- Custom styles for this template -->
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    
    <title>Colonia Z-65 | Sobre</title>
</head>
<body>
    <%- include("partials/cabecalho.ejs") %>

     <!-- Tela Contato -->

    <%- include("partials/btn-contato.ejs") %>

    <br>
    
    <video id="background-video" autoplay loop muted poster="img/background.mp4">
        <source src="img/background.mp4" type="video/mp4">
      </video>
      <div class="titulo">
        <h3>COLÔNIA DE PESCADORES PROFISSIONAIS ARTESANAIS E AQUICULTORES DE TUPARETAMA - PE CPPAA Z-65</h3>
        <p>Filiada à Federação dos Pescadores e Aquicultores de Pernambuco e à Confederação Nacional dos Pescadores e Aquicultores - CNPJ: 54.709.881/0001-43</p>
      </div>
    <section class="flex">
      <div>
        <h3>Temos aqui alguma coisa</h3>
        <p>Onix Turbo 2015</p>
      </div>
      <div>
        <img src="img/Logo-Colonia (2).png" alt="logo">
      </div>
    </section>
    

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>