@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

ul {
    margin: 0px;
    padding: 0px;
  }
  
  #logo {
    padding: 5px auto;
    border-radius: 50%;
    border: solid 1px #fff;
    width: 100px;
    height: 100px;
  }

  #header li{
    padding: 0px 15px;
  }

  #header li a{
    padding: 0px 15px;
    color: #fff;
  }

  #header li:hover{
    background-color: #1196ba;
  }
  #header li.ativo{
    background-color: #1196ba;
  }
  #header .btn-contato{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #1196ba;
    cursor: pointer;
    transition: .2s;
  }
  #header .btn-contato:hover{
    background-color: #28bcd7;
  }
  #header .btn-contato a{
    font-weight: bold;
    text-decoration:none;
    color: #fff;
  }

  #header {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    position: fixed;
    width: 100%;
    height: 120px;
    min-width: 300px;
    margin: 0 auto;

    justify-content: space-between;
    align-items: center;
    background: 0%;
    z-index: 900;

    transition: 0.5s;
  }

  #header.rolagem {
    background: #fff;
    height: 60px;
    transition: 0.3s;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    #logo {
      visibility: hidden;
      transition: .1s;
    }
    #menu li a{
      color: #000;
    }
  }

  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
  #menu {
    display: flex;
    list-style: none;
  }
  
  #menu a {
    display: block;
    padding: 0.5rem;
  }
  
  #menu li{
    position: relative;
    float: left;
  }
  #menu li a{text-decoration:none; padding:5px 10px; display:block; color: #fff;}

  

  #menu ul > li{background-color: rgb(120, 180, 214);}
  
  #menu ul > li:hover{display: block;}

  #menu li  ul{
    position:absolute;
    display:block;
    list-style: none;
    visibility: hidden;
    }

  #menu li:hover ul, #menu li.over ul{visibility: visible;}

  #btn-mobile {
    display: none;
  }
  
  @media (max-width: 600px) {
    #logo {
      display: none;
      transition: .1s;
    }
    #menu li a{
      color: #000;
    }
    #menu {
      flex-direction: column;
      position: absolute;
      align-items: center;
      margin:auto;
      margin-top: 0px;
      top: 60px;
      left: 0px;
      background: #fff;
      transition: 0.3s;
      z-index: 1000;
      width: 0px;
      height: 100vh;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      z-index: 2000;
      height: 100vh;
      width: 100vw;
      position: fixed;
      visibility: visible;
      overflow-y: hidden;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #menu li:hover ul, #menu li.over ul{
        position: inherit;
        left: 15px;
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      z-index: 1100;
      border-top: 2px solid;
      width: 20px;
      right: 10px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
      menu li a{
        color: #000;
      }
    
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }

a{
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.acoes{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    bottom: 0;
}

.icon-edit{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
 
  border-radius: 5px;
  background-color: rgb(58, 246, 146);
}

.icon-edit:hover, #edit:hover{
  cursor:pointer;
  background-color: rgb(53, 202, 123);
  color: #e6d0d0;
}
.icon-delete{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;

    border-radius: 5px;
    margin-left: 2px;
    background-color: rgb(246, 58, 58);
}

.icon-delete:hover, #delete:hover{
    cursor:pointer;
    background-color: rgb(199, 58, 58);
    color: #e6d0d0;
}

.icon-detalhar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    padding: 10px;
    border-radius: 5px;

    background-color: rgb(58, 155, 246);
}

.icon-detalhar:hover, #detalhe:hover{
    cursor: pointer;
    background-color: rgb(52, 107, 209);
    color: #d0d8e6;
}

/*------------------ Tela 404 ------------------*/

.error{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
.content-erro{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    
    border-radius: 10px;
    box-shadow: 20px 20px 15px -3px rgba(0,0,0, 0.5),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.errorRight{
    padding: 10px;

}

.errorLeft{
    padding: 10px;
}

.cadastrado-alert{
    display: flex;
    margin: auto;
    width: 220px;
    left: 50%;
    justify-content: center;

    margin-bottom: 40px;
    border-radius: 10px;
    background-color: aquamarine;
}

.deletado-alert{
    display: flex;
    margin: auto;
    width: 230px;
    left: 50%;
    justify-content: center;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: lightcoral;
}
.editado-alert{
  display: flex;
  margin: auto;
  left: 50%;
  justify-content: center;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: rgb(128, 148, 240);
}

.content-listar{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/*------------------ Listagem de Clientes ------------------*/
.card__acoes{
  width: 80%;
  height: 70px;
  border-radius: 5px;
  padding: 20px;
  justify-content: end;
  
  display: flex;
  flex-direction: row;
  min-width: 270px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card{
    width: 98%;
    height: 280px;
    top: 50px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    min-width: 270px;
    margin-bottom: 40px;

    transition: transform .8s;
}

.card:hover{
    transform: scale(1.02);
}

.card__left {
    display: flex;
    width: 50%;
    border-right: solid 1px #000;
}

.card__left > img {
    width: 90px;
    height: 90px;
    padding: 5px;
    border-radius: 50%;
}
.card__capa{
    width: 95%;
    height: 358px;
    top: 50px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    min-width: 270px;
    margin-bottom: 40px;
    background-color: #073d66;

    transition: transform .8s;
}
.card__left__capa > img {
  padding: 5px;
  width: 100%;
}
.card__left__capa {
  display: flex;
  width: 40%;
}
.card__right__capa {
  display: flex;
  margin: 20px;
  width: 70%;
}
div.card__right__capa > .informacoes > .pix{
  display: flex;
  flex-direction: row;
  padding: 5px;
}
div.card__right__capa > .informacoes > .pix > .nome__capa{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 300px;
  height: 20px;
  border-top: solid 1px #000;
}
div.card__right__capa > .informacoes > .pix > .mini-pix{
  display: flex;
  margin: auto;
  margin-left: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
div.card__right__capa > .informacoes > .pix > .mini-pix > img {
  width: 100px;
  height: 100px;
}
.informacoes{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.card__right {
  display: flex;
  width: 50%;
}

.card__right > img {
  width: 90px;
  height: 90px;
  padding: 5px;
  border-radius: 50%;
}

.card__right > .informacoes > .pix > img {
position: absolute;
right: 60px;
bottom: 60px;
justify-content: right;
width: 110px;
height: 110px;
}

.informacoes{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
@media (max-width: 510px){
    .card{
        flex-direction: column;
    }
    .informacoes{
        display: flex;
        flex-direction: column;
    }
    .icon-delete, .icon-detalhar, .icon-edit{
      width: 40px;
    }
  }