@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

ul {
    margin: 0px;
    padding: 0px;
  }
  
  #logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  #header {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    height: 70px;
    width: 100%;
    min-width: 300px;
    margin-bottom: 30px;
    
    justify-content: space-between;
    align-items: center;
    
    background: rgb(120, 180, 214);
    z-index: 900;
    
  }
  
  #menu {
    display: flex;
    list-style: none;
  }
  
  #menu a {
    display: block;
    padding: 0.5rem;
  }
  
  #menu li{
    position: relative;
    float: left;
  }
  #menu li a{text-decoration:none; padding:5px 10px; display:block;}

  #menu li a:hover{
    text-decoration: underline;
  }

  #menu ul > li{
    background-color: rgb(120, 180, 214);
  }
  
  #menu ul > li:hover{
    display: block;
  }

  #menu li  ul{
    position:absolute;
    display:block;
    list-style: none;
    visibility: hidden;
    }

  #menu li:hover ul, #menu li.over ul{visibility: visible;}

  #btn-mobile {
    display: none;
  }
  
  @media (max-width: 600px) {
    #menu {
      flex-direction: column;
      position: absolute;
   
      right: 0px;
      opacity: 90%;
      background: rgb(120, 180, 214);
      transition: 0.6s;
      z-index: 1000;
      width: 0px;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      height: calc(100vh - 120px);
      width: 200px;
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #menu li:hover ul, #menu li.over ul{
        position: inherit;
        left: 15px;
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }

a{
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.card__right > .acoes{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    bottom: 0;
}

.icon-edit{
  display: flex;
  justify-content: center;
  width: 50px;
  padding: 10px;
  border-radius: 5px;

  background-color: rgb(58, 246, 146);
}

.icon-edit:hover, #edit:hover{
  cursor:pointer;
  background-color: rgb(53, 202, 123);
  color: #e6d0d0;
}
.icon-delete{
    display: flex;
    justify-content: center;
    width: 50px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 2px;


    background-color: rgb(246, 58, 58);
}

.icon-delete:hover, #delete:hover{
    cursor:pointer;
    background-color: rgb(199, 58, 58);
    color: #e6d0d0;
}

.icon-detalhar{
    display: flex;
    justify-content: center;
    width: 50px;
    padding: 10px;
    border-radius: 5px;

    background-color: rgb(58, 155, 246);
}

.icon-detalhar:hover, #detalhe:hover{
    cursor: pointer;
    background-color: rgb(52, 107, 209);
    color: #d0d8e6;
}

footer{
    box-sizing: border-box;
    font-weight: bold;
    background-color: rgb(120, 180, 214);
    color: #000;

    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 1100;

    width: 100%;
    min-width: 300px;
    height: 50px;    
    text-align: center;
    justify-content: center;
    line-height: 50px;
}

.espaco-footer{
  display: block;
  margin-top: 50px;
}

/*------------------ Tela 404 ------------------*/

.error{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
.content-erro{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    
    border-radius: 10px;
    box-shadow: 20px 20px 15px -3px rgba(0,0,0, 0.5),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.errorRight{
    padding: 10px;

}

.errorLeft{
    padding: 10px;
}

.cadastrado-alert{
    display: flex;
    margin: auto;
    width: 220px;
    left: 50%;
    justify-content: center;

    margin-bottom: 40px;
    border-radius: 10px;
    background-color: aquamarine;
}

.deletado-alert{
    display: flex;
    margin: auto;
    width: 230px;
    left: 50%;
    justify-content: center;

    margin-bottom: 40px;
    border-radius: 10px;
    background-color: lightcoral;
}
.editado-alert{
  display: flex;
  margin: auto;
  width: 230px;
  left: 50%;
  justify-content: center;

  margin-bottom: 40px;
  border-radius: 10px;
  background-color: rgb(128, 148, 240);
}

.content-listar{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/*------------------ Listagem de Clientes ------------------*/
.card{
    width: 70%;
    border-radius: 5px;
    box-shadow: 20px 20px 40px 15px rgba(0,0,0,0.6);

    display: flex;
    flex-direction: row;
    min-width: 270px;
    justify-content: space-between;
    margin-bottom: 40px;

    transition: transform .8s;
}

.card:hover{
    transform: scale(1.1);
}
.card__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.card__right > .informacoes > span {
    font-weight: bold;
}

.card__right > .informacoes > a {
    margin-top: 15px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.card__right > .informacoes > p {
    color: rgb(70, 70, 70);
}

.card__left {
    display: flex;
    justify-content: center;
}

.card__left > .id-absolute{
    display: flex;
    align-items: center;
    justify-content: center;
    

    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 5px;

    padding: 5px;
    opacity: 80%;
    background-color: rgba(9, 90, 128, 0.425);
    border-radius: 5px;
}

.card__left > .id-absolute > span{
    font-weight: bold;
}

.card__left > img {
    width: 200px;
    height: 200px;
    padding: 5px
}

.informacoes{
    display: flex;
    flex-direction: column;
    width: 155px;
}
@media (max-width: 510px){
    .card{
        flex-direction: column;
    }
    .informacoes{
        display: flex;
        flex-direction: column;
    }
    .icon-delete, .icon-detalhar, .icon-edit{
      width: 40px;
    }
}

