<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
</head>
<body>  
        <% for (const c of Vclientes) {%>
            <div>
                <b>id:</b> <%=c.id%>
            </div><br>
            <div>
                <b>Nome:</b><%=c.nome%>
            </div><br>
            <div>
                <b>Idade: </b> <%=c.idade%>
            </div><br> <br>
        <% } %>
</body>
</html>

         