<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        Nome: <%= pessoa.nome%>
        
    </div>
    <div>
        Curso: <%= pessoa.curso%>
    </div>
    <% if (pessoa.curso == "Informática") { %>
        <div>
            <%= pessoa.curso%> é o melhor    
        </div>        
    <% } %>
    <% if (pessoa.curso == "Saneamento") { %>
        <div>
            <%= pessoa.curso%> é o pior    
        </div>        
    <% } %>        
</body>
</html>